<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>前端收藏夹</title>
	<link rel="stylesheet" href="app/css/bootstrap.css">
	<link rel="stylesheet" href="app/css/base.css">
	<link rel="stylesheet" href="app/css/style.css">


	<!-- 使用seajs.js来加载数据 -->
	<!-- 
		* 更加灵活，不需要tools等结构，直接全由数据来获取，填充模版

	 -->
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a href="" class="navbar-brand">前端收藏夹</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<section id="cdn"></section>
		<section id="tool"></section>
		<section id="cheat-sheet"></section>
		<section id="ui"></section>
		<section id="MV*"></section>
		<section id="compatible"></section>
			
	</div>
	<script type="text/template" id="section-template">
		<h2 class="title"><%=name%> </h2>
		<p class="description"><%=description%></p>
		<ul class="site-list clearfix">
		<% 
			items.forEach(function(item){ 
				item.description = item.description || '待补充';
		%>
			<li class="site">
				<a href="<%=item.url %>" target="_blank" class="main">
					<h3 class="name"><%=item.name %></h3>
					<p class="desc"><%=item.description %></p>
				</a>
			</li>
		<% }); %>
		</ul>
	</script>
	<!-- 这两项后期都改造为使用seajs加载 -->
	<script src="app/js/lib/183.js"></script>
	<script src="app/js/lib/underscore.js"></script>
	<script src="app/js/lib/template.js"></script>
	<script src="app/js/lib/sea.js"></script>
	<script type="text/javascript">
	seajs.config({
		base: './app/js'
	});
	seajs.use('main.js');

	</script>
</body>
</html>