<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>前端收藏夹</title>
	<link rel="stylesheet" href="app/css/bootstrap.css">
	<link rel="stylesheet" href="app/css/base.css">

	<!-- 使用require.js来加载数据 -->
	<!-- 
		* 更加灵活，不需要tools等结构，直接全由数据来获取，填充模版


	 -->
</head>
<body>
	<div class="container">
		<h1>前端收藏夹</h1>
		<section id="tools">
			<!-- <h2 class="title">开发协助</h2>
			<p class="description">url帮你生成指定大小图片，模仿图片延迟，html5可视化编程，在线编写代码测试</p>
			<ul>
				<li>
					<p><a href="url" class="name">name</a></p>
					<p>介绍</p>						
				</li>
			</ul> -->
		</section>

	</div>
	<script type="text/template" id="item-template">
		<h2 class="title"><%-name%> </h2>
		<p class="description"><%-description%></p>
		<% items.forEach(function(item){  %>
			<li>
				<p><a href="<%-item.url %>" class="name"><%-item.name %> </a></p>
				<p><%-item.description %></p>						
			</li>
		<% }); %>
	</script>
	<script src="app/js/lib/require.js" data-main="app/main.js"></script>
</body>
</html>